.home__find-designer
    padding: 0 10em
    text-align: left
    color: darken($secondary, 18%)

.form-group
    
    font-size: 1.79em
    margin-bottom: 1.5em
    
    input
        font-size: 1em
        color: $primary
        
        &[type="number"]
            appearance: none
        &[name="search_query"]
            width: 250px
        &[name="limit"]
            width: 135px
        &[name="radius"]
            width: 200px

        +placeholder
           color: fade-out($primary, .34) 
           font-size: .7em 
           text-align: center

    select
        color: fade-out($primary, .34)

.home-submit

    margin: 0 auto
    background: $primary
    font-size: 1.3em
    padding: 1em 1.5em
    border-radius: 5px
    color: $quarternary
    transition: all .3s ease
    
    &:disabled
        background-color: darken(#eee, 19%)
        pointer-events: none

    &:hover
        background: $tertiary
        color: $quarternary


