.venues__modal
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: fade-out($secondary, .1)
    display: flex
    align-items: center
    justify-content: center


.venue-detail
    background: $primary
    padding: 1em 2em
    width: 500px
    display: flex
    flex-direction: column
    text-align: left

.venue-name
    
    color: $tertiary
    font-size: 3em
    text-align: center
