.venues__detail
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: fade-out($primary, .7)
    display: flex
    align-items: center
    justify-content: center


.venue-wrapper
    width: 900px
    height: 60%
    display: flex
    
    > div
      flex-basis: 50%

.venue-info
    background-color: dodgerblue 
    color: white

.venue-map
    background-color: maroon 

