@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,600'

// Color Variables

$primary: #94618E
$secondary: #49274A
$tertiary: #F4DECB
$quarternary: #F8EEE7


// FONTS 

$headings: 'Montserrat', sans-serif
$content: 'Open Sans', sans-serif

