main
    display: flex
    flex-direction: column
    text-align: center
    
    > section
      display: flex
      height: 100vh

.home__top
    background: $primary
    color: $quarternary
    flex-direction: column
    justify-content: center 

.home__title
    font-size: 5em
    font-family: $main
    text-transform: capitalize
    margin-bottom: 3rem 
    animation: fadeInUp .3s ease forwards

.home__strapline
    animation: fadeInUp .3s .1s ease forwards
    font-size: 1.8em

.home__bottom 
    background: $quarternary
    display: flex
    align-items: center
    justify-content: center
    position: relative

.home__form-errors

    position: absolute
    bottom: 80px
    text-align: left
    
    span
        display: block
        font-size: 1.2em
        color: $primary
        animation: fadeInUp .2s ease forwards



