main
    display: flex
    flex-direction: column
    justify-content: center 
    text-align: center
    height: 100vh
    
    > section
      flex-basis: 50%
      display: flex

.home__top
    flex-basis: 100%
    background: $primary
    color: $secondary
    flex-direction: column
    justify-content: center 

.home__title
    font-size: 4em

.home__title
    font-size: 4em

.home__strapline
    font-size: 1.2em

.home__bottom 
    background: $quarternary
    
