.venues__top
    background: $primary
    padding: 2em 0
    color: $tertiary

.venues__title
    text-transform: capitalize
    
    span
        font-family: inherit
        font-weight: bold

.venues__list
    background: $tertiary
    color: $secondary
    flex-grow: 1
    padding: 2em 
    text-align: left
    overflow-y: scroll

.venue-link
    margin-bottom: 1.5rem 
    cursor: pointer
    
    &:hover span
        text-shadow: 0px 1px 1px $secondary

    span
        font-weight: bold
        font-family: $headings
        font-size: 3em
        transition: all .1s ease-in-out
