<section class="home__top">
    
    <div class="wrapper">
        
        <span>Logo will sit here</span>
        <h1 class="home__title">Lunch Wrap</h1>
        <p class="home__strapline">Get venue recommendations and don't waste your time on
        yelp!</p>

    </div>

</section>

<section class="home__bottom">

    <form class="home__find-designer" ng-submit="home.submitForm()">
       
        <div class="form-group group-location">
            <label for="location">Show me </label>
            <input name="location" type="text" ng-model="home.searchQuery">

            <label for="search_query">venues in</label>
            <input type="text" name="search_query" ng-model="home.location">
        </div>
        
        <div class="form-group group-radius">
            <label for="limit">Give me</label>
            <input name="limit" type="text" ng-model="home.limit">

            <label for="radius">results, in a </label>
            <input type="text" name="radius" ng-model="home.radius">

            <span>metres radius</span>
        </div>

        <div class="form-group group-budget">
        
            <label>My budget is: </label>
            
            <select ng-model="home.price">
                <option value="1" selected="selected">Low</option>
                <option value="2">Moderate</option>
                <option value="3">Big</option>
                <option value="4">My boss is paying</option>
            </select>
        
        </div>

        <button type="submit">I want to eat!</button>
    </form>

</section>
